
#page{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 1em;
}

main{
  width: 100%;
  padding: 4em 0em;
}

.list{
  list-style: none;
  width: 100%;
  display: grid;
  grid-template-columns: repeat( auto-fill, minmax(200px, 1fr));
  gap: 4em;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-top: 1em;
}
.list-item{
  display: flex;
  flex-direction: column;
}

h3{
  margin-bottom: 0.4em !important;
}
.list-item img{
  border-radius: 0.6em;

}

form{
  display: flex;
  justify-content: center;

}

.input-error-box{
  color: rgb(255, 66, 66);
}

.text-center{
  text-align: center;
}
.text-muted{
  color: rgb(150, 150, 150);
}
.mt-1{
  margin-top: 0.2em;
}

.small-text{
  font-size: 0.76rem;
}